<app-header></app-header>
<div class="aa_htmlTable">
    <h2 class="aa_h2">{{QueueName}} Files</h2>
    <hr>
    <table>
      <thead>
        <tr>
            <th>#</th>
            <th>FileName</th>
            <th>FileExtension</th>
            <th>Progress</th>
            <th *ngIf="showActions">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files; index as i">
            <td>{{i+1}}</td>
            <td>{{file.fileName}}</td>
            <td>{{file.fileExtension}}</td>
            <td></td>
            <td *ngIf="showActions"><a class="btn btn-info zoom1" (click)="Scan(i)"  role="button"><span class="fa fa-search zoom"></span>&nbsp; Scan</a>
                &nbsp;<a class="btn btn-info zoom1" *ngIf="QueueName=='Quarantine'" (click)="Queue(i)"  role="button"><span class="fa fa-list zoom"></span>&nbsp; Queue</a></td>
        </tr>   
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>

  
  